
.featured-item {
  height: 400px; /* Adjust height as needed */
  background-color: #333;
}

.featured-item img {
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.featured-item-caption {
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.card {
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card .card-img-top {
    height: 180px;
    object-fit: cover; /* This ensures the image covers the area without distortion */
}

.menu-container {
    min-height: 60vh;
}
